<!-- BOOTSTRAP STARTER TEMPLATE -->
<!-- osnovni html, ki je uporabljen v vseh ostalih, glej rebase (moramo podati naslov in napaka) -->

<!doctype html>
<html lang="sl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>{{naslov}}</title>
		<link rel="stylesheet" href="./static/style.css">

    </head>
    <body>
        <!-- orodna vrstica-->
        <nav class="navbar navbar-light orodna_vrstica">
            <div class="container">
                <a class="navbar-brand" href="{{url('zacetna_get')}}">
                    <img src="{{url('static', filename= '/img/logo_zadnji3.png')}}" alt="" width="440" height="150">
                </a>
				%if noMenu == 'true':
                
				%else:
				<a href="{{url('uporabnik')}}" class="text-dark">Profil</a>
                <a href="{{url('moje_knjige_get')}}" class="text-dark">Zgodovina izposoj</a>
                <a href="{{url('avtorji')}}" class="text-dark">Avtorji</a>
				<a href="{{url('brskalnik_get')}}" class="text-dark">Brskaj</a>
                <a href="{{url('napredno_iskanje_get')}}" class="text-dark">Napredno iskanje</a>  
                <a href="{{url('odjava_get')}}" class="text-dark">Odjava</a>
				%end
            </div>                
        </nav>
        
        
        <!--sem notri vstavimo ostale htmlje-->
        <div class="container">  <!--div se vedno razširi čez cel blok, zato damo container, da zavzame optimalno prostora-->

            <h2 class="my-4">{{naslov}}</h2>

            % if napaka:
            <div class="alert alert-danger">
                {{napaka}}
            </div>
            % end

            {{!base}}
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
       <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
