% setdefault('napaka', '')
% setdefault('naslov', 'Lastnosti')
% rebase('base.html', objave = objave, oseba_id = oseba_id, book_id = book_id, napaka=napaka, naslov=naslov, knjiga_info=knjiga_info, knjiga_lastnosti = knjiga_lastnosti, knjige_komentarji = knjige_komentarji,zanri=zanri, opis=opis, noMenu='false')

<html>
<head>
	<style>
			form  {
				margin: 60px 0 0 0 !important;
			 }
			 
			 .table_th {
            font-size: 16px;
			}
			
			 .container_table th h1 {
            font-weight: bold;
            font-size: 14px;
            text-align: left;
            color: #185875;
        }

        .container_table td {
            font-weight: normal;
            font-size: 12px;
            -webkit-box-shadow: 0 2px 2px -2px #0E1119;
            -moz-box-shadow: 0 2px 2px -2px #0E1119;
            box-shadow: 0 2px 2px -2px #0E1119;
        }

        .container_table {
            text-align: left;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
            display: table;
            padding: 0 0 8em 0;
        }

        .container_table td, .container_table th {
            padding-bottom: 2%;
            padding-top: 2%;
            padding-left: 2%;
        }

        /* Background-color of the odd rows */
        .container_table tr:nth-child(odd) {
            background-color: white;
        }

        /* Background-color of the even rows */
        .container_table tr:nth-child(even) {
            background-color: #dfd3eb;
        }

			.naslovClass, .avtorClass {
				cursor: pointer;
				transition: background-color 0.3s ease;
			}

			.naslovClass:hover, .avtorClass:hover {
				background-color: #b2a5d4 !important;
			}

			.tableRounded {
				border-collapse: collapse;
				border-radius: 30px;
				border-style: hidden;
				box-shadow: 0 0 0 0.1px #666;
			}
			 
			.ui-slider .ui-btn-inner {
				padding: 4px 0 0 0 !important;
			}
			 
			.ui-slider-popup {
				position: absolute !important;
				width: 64px;
				height: 64px;
				text-align: center;
				font-size: 36px;
				padding-top: 14px;
				z-index: 100;
				opacity: 0.8;
			}
			.slider-color{
			
				background-color:#dfd3eb!important;
				width:250px;
			
			}
			.star-rating {
				display: inline-block;
				font-size: 2rem;
				color: #ddd;
				cursor: pointer;
				float:left;
			}
			.star-rating .star {
				color: gold;
			}
			.starSelected {
				color: gold;
				display: inline-block;
				font-size: 2rem;
				cursor: pointer;
				float:left;
			}
			.starNotSelected {
				display: inline-block;
				font-size: 2rem;
				color: #ddd;
				cursor: pointer;
				float:left;
			}
			
	</style>

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
	
        $(function() {
			$(document).ready(function() {
				//Zacnetni vrednosti
				var vesela_val     = 0;
				var zabavna_val    = 0;
				var prijetna_val   = 0;
				var predvidljiva_val   = 0;
				var domisljijska_val   = 0;
				var cudovita_val   = 0;
				var optimisticna_val   = 0;
				var neeroticna_val = 0;
				var lahkotna_val   = 0;
	
				//TODO BREZ ZANKE
				%for (vesela, zabavna, prijetna, predvidljiva, domisljijska, cudovita, optimisticna, neeroticna, lahkotna, dolzina) in knjiga_lastnosti:
			
					vesela_val 	   = {{vesela}};
					zabavna_val    = {{zabavna}}
					prijetna_val   = {{prijetna}}
					predvidljiva_val   = {{predvidljiva}}
					domisljijska_val   = {{domisljijska}}
					cudovita_val   = {{cudovita}}
					optimisticna_val   = {{optimisticna}}
					neeroticna_val = {{neeroticna}}
					lahkotna_val   = {{lahkotna}}
				
				%end
	
				 $("#slider-range-vesela").slider({
					value: vesela_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#vesela").text(ui.value);
					}
				});
				$("#slider-range-vesela").slider("option", "disabled", true);
				
				$("#slider-range-zabavna").slider({
					value: zabavna_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#zabavna").text(ui.value);
					}
				});
				$("#slider-range-zabavna").slider("option", "disabled", true);
				
				$("#slider-range-prijetna").slider({
					value: prijetna_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#prijetna").text(ui.value);
					}
				});
				$("#slider-range-prijetna").slider("option", "disabled", true);


				$("#slider-range-predvidljiva").slider({
					value: predvidljiva_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#predvidljiva").text(ui.value);
					}
				});
				$("#slider-range-predvidljiva").slider("option", "disabled", true);

				$("#slider-range-domisljijska").slider({
					value: domisljijska_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#domisljijska").text(ui.value);
					}
				});
				$("#slider-range-domisljijska").slider("option", "disabled", true);

				$("#slider-range-cudovita").slider({
					value: cudovita_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#cudovita").text(ui.value);
					}
				});
				$("#slider-range-cudovita").slider("option", "disabled", true);

				$("#slider-range-optimisticna").slider({
					value: optimisticna_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#optimisticna").text(ui.value);
					}
				});
				$("#slider-range-optimisticna").slider("option", "disabled", true);
				
				$("#slider-range-neeroticna").slider({
					value: neeroticna_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#neeroticna").text(ui.value);
					}
				});
				$("#slider-range-neeroticna").slider("option", "disabled", true);
				
				$("#slider-range-lahkotna").slider({
					value: lahkotna_val, // Initial value
					min: 0, // Minimum value
					max: 100, // Maximum value
					step: 1, // Step value
					slide: function(event, ui) {
						// Update the slider value display when sliding
						$("#lahkotna").text(ui.value);
					}
				});
				$("#slider-range-lahkotna").slider("option", "disabled", true);
				
				
				 %for (komentar_id, uporabnik_id, komentar, ocena, refer) in knjige_komentarji:
					var starsComments = document.querySelectorAll('.star-rating_{{komentar_id}} span');

					starsComments.forEach(star => {
		   
						var rating = {{ocena}};
						
			
						// Highlight the selected stars
						for (let i = 0; i < rating; i++) {
							starsComments[i].classList.add('starSelected');
						}
						for (let i = rating; i <= 4; i++){
							starsComments[i].classList.add('starNotSelected');
						}

					});
				%end	
				
				
				//izposoja
				
				
				%for (id, full_name, lastnik_id) in objave:
			   var izposoja_td = document.getElementById("izposoja_"+{{id}});
				var img = document.createElement('img');
				img.src = './static/img/borrow.png'; 
				img.style.width = "34px";
				img.style.cursor = "pointer";
				img.title = "Izposodi si knjigo";

				img.onclick = function(){
					//posodobitev v bazi
					// Define the URL of your Bottle server endpoint
					var url = 'http://localhost:8080/izposoja'; // Ensure this matches the Bottle server URL

					// Define the data to send in the request body
					var data = {
						id: {{id}},
						book_id:{{book_id}},
						lastnik_id:{{lastnik_id}},
						uporabnik_id:{{oseba_id}},
					};

					// Send a POST request
					fetch(url, {
						method: 'POST', // Specify the HTTP method
						headers: {
							'Content-Type': 'application/json', // Specify the content type
						},
						body: JSON.stringify(data), // Convert the data to a JSON string
					})
					.then((response) => {
						if (!response.ok) {
							// Check if the response status is not OK (e.g., 4xx, 5xx status codes)
							return response.json().then((errorData) => {
								throw new Error(errorData.message || 'Something went wrong!');
							});
						}
						return response.json(); // Parse the JSON response if the response is OK
					}) // Parse the JSON response
					.then((data) => {
						console.log('Success:', data); // Log the response data
					})
					.catch((error) => {
						console.error('Error:', error); // Log any errors
					});
					
					setTimeout(function(){ window.location.reload(); }, 2500);
				}
				
				izposoja_td.appendChild(img);
			   
			   
			   %end
	
			});
			
        });
		
		document.addEventListener('DOMContentLoaded', function () {
            const stars = document.querySelectorAll('.star-rating span');
			const ratingValue = document.getElementById('starRating');
            
            stars.forEach(star => {
                star.addEventListener('click', function () {
                    const rating = this.getAttribute('data-value');

                    stars.forEach(s => s.classList.remove('star'));
					ratingValue.value = rating;

                    // Highlight the selected stars
                    for (let i = 0; i < rating; i++) {
                        stars[i].classList.add('star');
                    }
					
                });
            });
		
         });
		 
		 
		 
		
		
		
    </script>

</head>
<body>
<form action="{{url('knjiga_get')}}" method="post" autocomplete="off">
	
	<!-- tu ne rabim for zanke, ker je samo ena vrednost -->
	<table style="float:left">
		<tr>
			<td style="text-align:left">
			%for (avtor, naslov, avtor_id, ocena, stevilo_ocen, leto, jezik) in knjiga_info:
			
				<h1> {{naslov}} </h1>
				<h3> {{avtor}} </h3>
				<img src="{{url('static', filename= '/img/lord_jim.jpg')}}" alt="" width="200" height="300">
				<p>{{opis}}</p>
			%end
			</td>
			
			
			
			<td style="margin-top:20px;float:left">
			
			<!-- Žanri -->
			<span style="display: inline; margin-right: 8px;">Žanri:</span>
			<span style="display: inline; font-size: smaller; font-weight: bold; margin: 0;">{{zanri}}</span>

				
				<div>
					<table>
						<tr>
							<td>
							Vesela
							</td>
							<td >
							<div id="slider-range-vesela" class="slider-color"></div>
								<input type="text" id="vesela" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Žalostna
							</td>
						</tr>
						
						<tr>
							<td>
							Zabavna
							</td>
							<td >
							<div id="slider-range-zabavna" class="slider-color"></div>
								<input type="text" id="zabavna" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Resna
							</td>
						</tr>
						
						<tr>
							<td>
							Prijetna
							</td>
							<td >
							<div id="slider-range-prijetna" class="slider-color"></div>
								<input type="text" id="prijetna" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Stresna
							</td>
						</tr>

						<tr>
							<td>
							Predvidljiva
							</td>
							<td >
							<div id="slider-range-predvidljiva" class="slider-color"></div>
								<input type="text" id="prijetna" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Nepredvidljiva
							</td>
						</tr>

						<tr>
							<td>
							Domišljijska 
							</td>
							<td >
							<div id="slider-range-domisljijska" class="slider-color"></div>
								<input type="text" id="domisljijska" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Prizemljena
							</td>
						</tr>

						<tr>
							<td>
							Čudovita
							</td>
							<td >
							<div id="slider-range-cudovita" class="slider-color"></div>
								<input type="text" id="cudovita" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Neokusna
							</td>
						</tr>

						<tr>
							<td>
							Optimistična
							</td>
							<td >
							<div id="slider-range-optimisticna" class="slider-color"></div>
								<input type="text" id="optimisticna" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Črnogleda
							</td>
						</tr>

						
						<tr>
							<td>
							Neerotična
							</td>
							<td >
							<div id="slider-range-neeroticna" class="slider-color"></div>
								<input type="text" id="neeroticna" readonly="" style="border:0;display:none">
							
							</td>
							<td>
							Erotična
							</td>
						</tr>
						
						<tr>
							<td>
							Lahkotna
							</td>
							<td >
							<div id="slider-range-lahkotna" class="slider-color"></div>
								<input type="text" id="lahkotna" readonly="" style="border:0;display:none">
							</td>
							<td>
							Zahtevna
							</td>
						</tr>
					</table>
				</div>
			
		
			
			</td>
			
		</tr>
		<tr>

			<td colspan="2" style="float:left;margin-top:50px;text-align:left;margin-bottom:40px">
				<h1>Komentarji</h1>
				<form id="formData" action="{{url('post_comment')}}" method="POST">
				<input style="display:none" name = "book_id" value={{book_id}}></input>
				<table>
					<tr>
						<td style="float:left">
							<div class="star-rating">
								<span data-value="1">&#9733;</span>
								<span data-value="2">&#9733;</span>
								<span data-value="3">&#9733;</span>
								<span data-value="4">&#9733;</span>
								<span data-value="5">&#9733;</span>
							</div>
							<input id="starRating" name="starRating" style="display:none"/>
							<textarea name="new_comment" style="width:100%" type="text" id="new_comment" placeholder="Dodaj nov komentar"></textarea>
						</td>
						
						<td style="vertical-align:top; text-align:left; padding-left:30px;padding-top:50px;">
							<div>
								<p><input style="font-size:14px!important;" class="zacetni_gumb btn btn-primary" type="submit" value="Oceni"></p>
							</div>
						</td>
					</tr>
				</table>
				</form>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="float:left;margin-top:50px;text-align:left;margin-bottom:40px">
			<h1>Komentarji uporabnikov</h1>
			%for (komentar_id, uporabnik_id, komentar, ocena, refer) in knjige_komentarji:
				
				<div style="margin-top:30px">
				
					<div class=star-rating_{{komentar_id}}>
						<span data-value="1">&#9733;</span>
						<span data-value="2">&#9733;</span>
						<span data-value="3">&#9733;</span>
						<span data-value="4">&#9733;</span>
						<span data-value="5">&#9733;</span>
					</div>
					<textarea readonly  style="width:100%" type="text" >{{komentar}}</textarea>
				
				</div>
				
			
			%end
			</td>
		</tr>
		<tr>
		<td colspan="2" style="float:left;margin-top:50px;text-align:left;margin-bottom:40px">
			<h1>Objave</h1>
			<form id="formData" action="{{url('objavi')}}" method="POST">
			<input style="display:none" name = "book_id" value={{book_id}}></input>
			<table>
				<tr>
					<td style="vertical-align:top; text-align:left;">
						<div>
							<p><input style="font-size:14px!important;" class="zacetni_gumb btn btn-primary" type="submit" value="Objavi knjigo"></p>
						</div>
					</td>
				</tr>
			</table>
			</form>
		</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:left;margin-bottom:40px">
				<table id="izpis" class="container_table tableRounded">
					<tr>
						<th>Oseba</th>
						<th>Izposoja</th>
	
					</tr>    
					%for (id, full_name, lastnik_id) in objave:
					<tr id={{id}}>
						<td id=lastnik_{{lastnik_id}}>{{full_name}}</td>
						<td id=izposoja_{{id}}></td>

					</tr>
					%end
					
				</table>
			</td>
		</tr>
		
		
	</table>
	
	
</form>
</body>
</html>
