% setdefault('napaka', '')
% rebase('base.html', napaka=napaka, naslov='Registracija')




<form action="/registracija" method="post" autocomplete="off">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Ime</label>
      <input id="name" name="name" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="surname">Priimek</label>
      <input id="surname" name="surname" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Uporabniško ime</label>
      <input id="username" name="username" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="password">Geslo</label>
      <input id="password" name="password" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="password_check">Ponovni vpis gesla</label>
      <input id="password_check" name="password_check" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input id="email" name="email" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="adress">Naslov</label>
      <input id="adress" name="adress" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="age">Rojstvo</label>
      <input id="age" name="age" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Obvezno polje')"
        />
    </div>
  </div>
  <div class="form-row">
  <div class="form-row col">
    <button class="btn btn-primary zacetni_gumb" type="submit">
      Zaključi z registracijo
    </button>
  </div>

</form>

